MarketCo

Problem Definition

Importing Libraries

In [4]:
#import libraries
from __future__ import division
from datetime import datetime, timedelta,date
import pandas as pd
%matplotlib inline
from sklearn.metrics import classification_report,confusion_matrix
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans

#do not show warnings
import warnings
warnings.filterwarnings("ignore")


#import machine learning related libraries
from sklearn.svm import SVC
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score, train_test_split

Loading the data

In [5]:
data = pd.read_csv('../Data/data.csv')
target = pd.read_csv('../Data/train_labels.csv')
test = pd.read_csv('../Data/test_labels.csv')
data.head(5)

,date,purchase_id,client_id,category_code,item_code,qty_sold,price,cost
0,2020-06-01,0,0,0,0,1.0,29.187140,32.780351
1,2020-06-01,1,1,1,1,1.0,120.499503,89.553040
2,2020-06-01,1,1,2,2,1.0,123.064992,116.300730
3,2020-06-01,1,1,3,3,1.0,37.783663,18.476901
4,2020-06-01,1,1,4,4,1.0,40.274335,38.107742

Data Understanding

In [6]:
print("The shape of the data is:" + str(data.shape))

The shape of the data is:(10664209, 8)

In [7]:
#Checking if there are null values and each feature's type.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10664209 entries, 0 to 10664208
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   date           object
 1   purchase_id    int64
 2   client_id      int64
 3   category_code  int64
 4   item_code      int64
 5   qty_sold       float64
 6   price          float64
 7   cost           float64
dtypes: float64(3), int64(4), object(1)
memory usage: 650.9+ MB

In [8]:
#Checking of there are any null values at any feature column.
data.isnull().sum()

date             0
purchase_id      0
client_id        0
category_code    0
item_code        0
qty_sold         0
price            0
cost             0
dtype: int64

In [9]:
#Checking numerical parameters statistics:

data.describe()

,purchase_id,client_id,category_code,item_code,qty_sold,price,cost
count,1.066421e+07,1.066421e+07,1.066421e+07,1.066421e+07,1.066421e+07,1.066421e+07,1.066421e+07
mean,7.795066e+05,3.660507e+04,4.350653e+01,4.609887e+03,1.103441e+00,7.293029e+01,5.417762e+01
std,4.499944e+05,2.572684e+04,2.446420e+01,5.663817e+03,9.355264e-01,8.531311e+01,6.468544e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.000000e+00,0.000000e+00,-1.264296e-01
25%,3.894520e+05,1.424300e+04,2.600000e+01,6.960000e+02,1.000000e+00,2.805518e+01,1.961301e+01
50%,7.791540e+05,3.273700e+04,4.000000e+01,2.647000e+03,1.000000e+00,4.928498e+01,3.398749e+01
75%,1.169039e+06,5.623200e+04,6.500000e+01,6.241000e+03,1.000000e+00,8.858160e+01,6.434823e+01
max,1.559306e+06,9.999800e+04,1.160000e+02,4.021100e+04,3.360000e+02,9.997433e+03,7.734636e+03

In [10]:
data['date'] = pd.to_datetime(data['date'])

In [12]:
df_4m = data[(data.date <= datetime(2020,9,30)) & 
(data.date >= datetime(2020,6,1))].reset_index(drop=True)

df_next = data[(data.date > datetime(2020,9,30)) & 
               (data.date <= datetime(2020,10,24))].reset_index(drop=True)

In [14]:
df_next.head()

,date,purchase_id,client_id,category_code,item_code,qty_sold,price,cost
0,2020-10-01,2562,2483,52,6428,1.00,76.920344,52.591244
1,2020-10-01,2563,2484,14,104,1.00,179.800122,124.988006
2,2020-10-01,2564,2485,58,796,1.63,62.166841,67.764180
3,2020-10-01,2564,2485,52,1263,1.00,115.504785,68.637428
4,2020-10-01,2564,2485,52,6429,1.00,120.631012,71.683630

In [16]:
df_user = pd.DataFrame(df_4m['client_id'].unique())
df_user.columns = ['client_id']